{% if project_type in ['cli', 'tui'] -%}
fn main() {
    println!(
        "cargo:rustc-env=REVISION={}",
        env!("REVISION")
    );
    println!(
        "cargo:rustc-env=VERSION={}",
        env!("VERSION")
    );
    println!(
        "cargo:rustc-env=BUILD_DATE={}",
        env!("BUILD_DATE")
    );

    println!("cargo:rerun-if-changed=.git/HEAD");
    println!("cargo:rerun-if-changed=.git/refs");
    println!("cargo:rerun-if-env-changed=REVISION");
    println!("cargo:rerun-if-env-changed=VERSION");
    println!("cargo:rerun-if-env-changed=BUILD_DATE");
}
{% endif %}