# {{ project_name }}

> {{ project_description }}

<p class="center">

[![GitHub Workflow Status](https://img.shields.io/github/actions/workflow/status/brpaz/{{github_repository }}/ci.yml?branch=main&style=for-the-badge)](https://github.com/brpaz/{{github_repository }}/actions)
[![License](https://img.shields.io/github/license/brpaz/{{ github_repository }}?style=for-the-badge)](./LICENSE)

</p>

## 🎯 Features

- Feature 1
- Feature 2
- Feature 3

## 🚀 Getting started

TODO

## 🤝 Contributing

All contributions are welcome! Please read the [CONTRIBUTING](CONTRIBUTING.md) guide for details how to contribute, including the setup of the development environment.


## 📄 License

This project is licensed under the MIT License - see the [LICENSE](LICENSE) file for details.






