{% if project_type in ['cli', 'tui'] -%}
fn main() {
    let revision = std::env::var("REVISION").unwrap_or_else(|_| "unknown".to_string());
    let version = std::env::var("VERSION").unwrap_or_else(|_| "0.0.0-dev".to_string());
    let build_date = std::env::var("BUILD_DATE").unwrap_or_else(|_| "unknown".to_string());

    println!("cargo:rustc-env=REVISION={revision}");
    println!("cargo:rustc-env=VERSION={version}");
    println!("cargo:rustc-env=BUILD_DATE={build_date}");

    println!("cargo:rerun-if-changed=.git/HEAD");
    println!("cargo:rerun-if-changed=.git/refs");
    println!("cargo:rerun-if-env-changed=REVISION");
    println!("cargo:rerun-if-env-changed=VERSION");
    println!("cargo:rerun-if-env-changed=BUILD_DATE");
}
{% endif %}